body {
	background: url("public/images/handsup4.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
}

.container-fluid {
	margin-top: 100px;
}

input {
	margin-top: 10px;
	font-style: italic;
}

label {
	color: white;
	margin-top: 17px;
	margin-left: 7px;
}

#b {
	display: flex;
	justify-content: space-around;
}

#b input {
}

#date {
	width: 25%;
}

#time {
	width: 17.5%;
	margin-left: 8px;
}

#to {
	width: 17.5%;
	margin-left: 8px;
}

#price {
	width: 20%;
	margin-left: 8px;
}

#h {
	text-align: center;
}

#uploadtext {
	text-align: left;
}

#i {
	text-align: center;
}

#j {
	text-align: center;
}

#musicbtn {
	margin-top: 9px;
	background-color: #BD10E0;
	color: white;
}

textarea {
	overflow: hidden;
}

#info {
	height: 150px;
}

#eventbtn {
	width: 100%;
	background-color: #BD10E0;
	color: white;
}