body {
	background: url("public/images/handsup4.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: black;
}

h1, h3, h4, p {
	color: white;
}

h3, h4 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
//	line-height: 41.8px;
	color: #9A9AB1;
}

.hyperlink {
	color: white;
}

.hyperlink:hover {
	color: white;
}

#header>img {
	width: 100%;
	margin-top: 100px;
//	margin-bottom: 100px;
}

#subheader {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 30px;
	font-style: italic;
	font-variant: normal;
	font-weight: 400;
	line-height: 41.8px;
	text-align: center;
}

#btndiv {
	text-align: center;
}

#eventbtn {
	margin: 50px 0px;
	padding: 7px 70px;
	font-size: 16px;
	text-align: center;
	background-color: #BD10E0;
	color: white;
}

#upcomingevents {
	color: #BD10E0;
}

#partypic {
	width: 100%;
}

#partyname {
//	float: left;
}

.bottomeventinfo {
	border-bottom: 2px solid #BD10E0;
}

.eventinforight {
	float: right;
}

h5, a {
	text-decoration: none;
	color: #BD10E0;	
}

#gif {
	width: 30px;
	height: 30px;
}