html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")

	body
		form(method="POST" action="/eventForm" enctype="multipart/form-data")
			label Event name:
				input(id="eventname" type="text" name="eventname" placeholder="Name of the event")
				br
			label Date:
				input(id="date" type="date" name="date" placeholder="DD/MM/YY")
			label Time:
				input(id="time" type="integer" name="time" placeholder="--:--")
			label to:
				input(id="to" type="integer" name="to" placehodler="--:--")
				input(id="price" type="integer" name="price" placeholder="€")
				br
			label Party Link:
				input(id="partylink" type="text" name="partylink" placeholder="Party Link")
					
			label Ticket Link:
				input(id="ticketlink" type="text" name="ticketlink" placeholder="Ticket Link")
				br
			label Venue
				input(id="venue" type="text" name="venue" placeholder="Venue")
			label Location
				input(id="location" type="text" name="location" placeholder="Location")
			label City
				input(id="city" type="text" name="city" placeholder="City")
				br
				br
				input(id="eventpicture" type="file" name="eventpicture")
				br
				button(id="picturesubmit" type="submit") CREATE EVENT
			

		//- div(id="createEventForm")
			

	//- script.
	//- 	$(document).ready(function(){
	//- 		$("#picturesubmit").click(function(e){
	//- 		var uploadedimg = $("input[type=file]").val()

	//- 		console.log("uploaddedimg", uploadedimg)
	//- 			$.ajax({
	//- 			url: "/eventForm",
	//- 			enctype: "multipart/form-data",
	//- 			type: "POST",
	//- 			data: file,
	//- 			success: function(result){
	//- 					console.log(succes)
	//- 					},
	//- 			error: function(err){
	//- 				console.log(err)
	//- 			}


	//- 			})
	//- 		})
	//- 	})










//- $.ajax( {
//- 						url: "/suggestion",
//- 						datatype: "json",
//- 						type: "POST",
//- 						data: suggestion,						
//- 						success: function(result) {
//- 							$("p").html("Who do you mean: " + result.input)
//- 							console.log("Who do you mean: ", result.input)
//- 						},
//- 						error: function(err) {
//- 							console.log(err)
//- 						} 
//- 					})
//- 				})





























