html
	head
		script(src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous")
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')

	body
		//- or class="container"???
		div(class="container-fluid")
			form(method="POST" action="/createEvent")
				div(class="row form-group")
					div(class="col-lg-5 col-lg-offset-1" id="a")
						input(id="eventname" class="form-control" type="text" name="eventname" placeholder="Name of the event")
					div(class="col-lg-5" id="b")
						input(id="date" class="form-control" type="date" name="date" placeholder="")
						label Time:
						input(id="time" class="form-control" type="time" name="time" placeholder="")
						label to:
						input(id="to" class="form-control" type="time" name="totime" placeholder="")
						input(id="price" class="form-control" type="number" min="0" max="10000" step="1" name="price" placeholder="\u20AC")
				div(class="row form-group")
					div(class="col-lg-5 col-lg-offset-1" id="c")
						input(id="partylink" class="form-control" type="url" name="partylink" placeholder="Party link")
					div(class="col-lg-5" id="d")
						input(id="ticketlink" class="form-control" type="url" name="ticketlink" placeholder="Ticket link")
				div(class="row form-group")
					div(class="col-lg-3 col-lg-offset-1" id="e")
						input(id="venue" class="form-control" type="text" name="venue" placeholder="Venue")
					div(class="col-lg-4" id="f")
						input(id="location" class="form-control" type="text" name="location" placeholder="Location")
					div(class="col-lg-3" id="g")
						input(id="city" class="form-control" type="text" name="city" placeholder="City")
				div(class="row form-group")
					div(class="col-lg-3 col-lg-offset-1" id="h")
						label Upload a picture of the event
					div(class="col-lg-3" id="i")
						input(class="form-control" type="file" name="eventpicture")
					div(class="col-lg-3 col-lg-offset-1" id="j")
						button(id="musicbtn" type="button" class="btn btn-light") Music style
				div(class="row form-group")
					div(class="col-lg-10 col-lg-offset-1" id="k")
						textarea(id="info" class="form-control" type="text" name="info" placeholder="More information...")
				div(class="row form-group")
					div(class="col-lg-2 col-lg-offset-5" id="l")
						button(id="eventbtn" type="button" class="btn btn-light") Add event

style
	include ../public/custom/eventForm.css

script.
	$("document").ready()
		$("#pictureformbutton").click()
			let picture = $("#eventpicture").val()
			$.post("/eventForm", {data: picture}, )