script.
	$("document").ready(() =>{
		$(".dropdown-toggle").dropdown()
	
	})

nav(class="navbar navbar-inverse navbar-fixed-top")
	div(class="container-fluid")
		div(class="navbar-header")
			a(class="navbar-brand" href="/")
				img(src="public/images/BaNGERz@3x.png" alt="Bangerz")

		div(class="collapse navbar-collapse")
			ul(class="nav navbar-nav navbar-right")
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
						i.glyphicon.glyphicon-align-justify
						span.caret
					ul.dropdown-menu
						li
							a(href='#') PROFILE
						li
							a(href='#') MY EVENTS
						li
							a(href='#') MESSAGES
						li
							a(href='#') ABOUT BANGERZ

div(id="spacer")

style
	include ../public/custom/navbar.css


